body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

h1, h2{
    font-weight: normal;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 10px;
    overflow: hidden;
    border: 1px solid lightgray;
    position: static;
}

#page-banner{
    background: #FAC400 ;
    padding: 10px 0;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#movie-list, #add-movie, #tabbed-content{
    margin: 30px;
}

#movie-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#movie-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#movie-list li:hover{
    border-color: #35095b;
}

.delete{
    float: right;
    background: #35095b;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete:hover{
    background: #ccc;
}

#add-movie{
    width: 400px;
    margin: 0 auto;
}

.watched{
    float: left;
    /* float: right; */
    width: 10px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 10px;
}
.watched:hover{
    background-color: #444;
}
.filter{
    width: 90px;
    text-align: center;
    border-radius: 4px;
}
.filter:hover{
    background-color: #35095b;
    color: #FAC400;
    text-decoration: underline;
}
#add-movie input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
}

#add-movie button{
    border: 1px solid #35095b;
    background: #35095b;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
  
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-movie:after{
    content: '';
    display: block;
    clear: both;
}
#footer{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 20px;
    padding: 10px;
    border-top: 5px solid gray;
}
#label{
    width: 300px;
}
#options{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
